<?php

return [
    'media'        => [
        'authorization'     => [
            'access' => ['public', 'company', 'user'],
        ],
        'download_uri'      => 'https://...',
        'stream_uri'        => 'https://...',
        'private_path'      => 'PRIVATE_PATH',
        'public_path'       => 'PUBLIC_PATH',
        'allowed_extension' => [
            'jpg',
            'jpeg',
            'png',
            'pdf',
            'doc',
            'docx',
            'xls',
            'xlsx',
            'csv',
            'txt',
            'mp3',
            'mp4',
        ],
        'mime_type'         => [
            'application/vnd.ms-excel',
            'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            'text/csv',
            'application/vnd.oasis.opendocument.spreadsheet',
        ],
        'allowed_size'      => [
            'min' => '1kB',
            'max' => '10MB',
        ],
    ],
];
