<?php

return [
    'media'        => [
        'authorization'     => [
            'access' => ['public', 'company', 'user', 'group', 'admin'],
        ],
        'storage'           => 'local', // local or s3
        'download_uri'      => 'https://...',
        'stream_uri'        => 'https://...',
        'private_path'      => 'PRIVATE_PATH',
        'public_path'       => 'PUBLIC_PATH',
        'can_delete'        => 0,
        'check_duplicate'   => 0,
        'allowed_extension' => [
            'jpg',
            'jpeg',
            'png',
            'pdf',
            'doc',
            'docx',
            'xls',
            'xlsx',
            'csv',
            'txt',
            'mp3',
            'mp4',
        ],
        'mime_type'         => [
            'application/vnd.ms-excel',
            'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
            'text/csv',
            'application/vnd.oasis.opendocument.spreadsheet',
        ],
        'allowed_size'      => [
            'min' => '1kB',
            'max' => '10MB',
        ],
        's3'             => [
            'version'                     => 'latest',
            'region'                      => 'us-east-1',
            'endpoint'                    => 'XXX',
            'use_path_style_endpoint'     => true,
            'use_aws_shared_config_files' => false,
            'credentials'                 => [
                'key'    => 'XXX',
                'secret' => 'XXX',
            ],
        ],
    ],
];
